@charset 'UTF-8';
.item-mobile{
    display: none;
}
/////// Global-Class ///////
ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

figure {
    margin: 0;
}

.thumb {
    img {
        width: 100%;
        height: auto;
    }
}

