@charset 'UTF-8';
@media only screen and (max-width:767px) {}

@media only screen and (min-width:767px) {
  
}
/* iPhone 5 Retina regardless of IOS version */
@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
{
 
}
@media only screen and (min-width:768px) and (max-width:991px) {}
@media  screen and (max-width: 1366px) {
   
}
@media only screen and (max-width:991px) {
  
   
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
    .container {
        max-width: 991px;
        width: 991px;
    }
  

}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
   
 }
@media only screen and (min-width:1367px) {
    .container {
        max-width: 1344px;
        width: 1344px;
    }
}


/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .container {
        max-width: 991px;
        width: 991px;
    }
   
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
   


}


