.theme-mobile {
  position: fixed;
  bottom: 0;
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(66%, #2d6cfd));
  background: -webkit-linear-gradient(bottom, black 0%, #2d6cfd 66%);
  background: -o-linear-gradient(bottom, black 0%, #2d6cfd 66%);
  background: linear-gradient(0deg, black 0%, #2d6cfd 66%); }
